.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.flash-message {
    line-height: 3;
}

/* .food-image {
    height: 50vh;
    overflow: hidden;
} */

.food-image img {
    width: 100%;
}

.full-recipe-header {
    margin-top: 20px;
}