@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Lato:wght@400;700&display=swap');

/* General */

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.uppercase {
    text-transform: uppercase;
}

.flash-message {
    line-height: 4;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    box-sizing: border-box;
}

.brand-logo {
    font-family: 'Oleo Script', cursive;
    font-weight: 700;
}

.page-title {
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 2px #fff;
    letter-spacing: 2px;
}

.card-panel {
    box-sizing: border-box;
    padding: 10px 24px;
    margin-bottom: 0px;
}

.btn-large, .btn {
    margin: 5px;
}

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #f9fbe7;
}

/* 'recipes.html' page */

.recipe-list {
    box-sizing: border-box;
    padding: 10px;
}

.recipe-list .col > .card {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    padding: 0px;
    margin-right: 10px;
}

.card-image {
    height: 60%;
}

.card-image img {
    height: 100%;
    width: auto;
}

.card .card-content {
    box-sizing: border-box;
    height: 40%;
    padding: 5px 10px
}

.btn-small {
    box-sizing: border-box;
    margin: 5px;
}

.card-content-text {
    height: 40px;
}

.col.s1.remove {
    box-sizing: border-box;
    padding-right: 20px;
}

/* 'full_recipe.html' page */

.full-recipe {
    border: 2px solid #388e3c;
    background-color: #f9fbe7;
}

.full-recipe .card-panel {
    margin-top: 0px;
}

.full-recipe-title {
    margin-bottom: 30px;
    font-weight: 700;
    z-index: 100;
}

.cover-header {
    max-height: 13rem;
    position: relative;
    overflow: hidden;
}

.cover-header img {
    width: 100%;
}

.vegetarian-icon {
    font-size: 50%;
    vertical-align: top;
}

.key-info img {
    height: 40px;
    width: auto;
}

/* .food-image {
    max-height: 400px;
    overflow: hidden;
}

.food-image img {
    width: 100%;
    height: auto;
} */

.full-recipe-header {
    margin-top: 20px;
    border: 1px solid #000;
}

.key-info {
    box-sizing: border-box;
    padding: 0px;
}

.key-recipe-info {
    border-bottom: 1px solid #000;
}

/* .key-recipe-servings {
    border: 2px solid #000;
}

.key-recipe-time {
    border: 2px solid #000;
    border-left: none;
}

.key-recipe-allergens {
    border: 2px solid #000;
    border-top: none;
}

.key-recipe-cuisine {
    border: 2px solid #000;
    border-bottom: none;
} */

.step-number {
    margin: 20px 10px 5px 0px;
    width: 70px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color:#388e3c;
    border-radius: 50%;
    color: #fff;
    float: left;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

/* 'new_recipe.html' page */

div.method-steps {
  counter-reset: list-number;
}

div.method-steps div:before {
  counter-increment: list-number;
  content: "Step: " counter(list-number);
  /* inspired by https://blog.logrocket.com/styling-numbered-lists-with-css-counters/ */
  margin-bottom: 5px;
  width: 70px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color:#388e3c;
  border-radius: 50%;
  color: #fff;
  float: left;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.method-steps > .input-field {
    margin-top: 0px;
}

.section-title {
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Edit Recipe Page */

.recipe-to-delete {
    font-weight: 700;
}

.modal .modal-header {
    background-color: #388e3c;
    box-sizing: border-box;
}

.modal .modal-header h4 {
    padding: 10px 0px;
    color: #fff;
    margin-bottom: 0;
}

.big-x {
    position: relative;
    color: #fff;
}

.modal .modal-content {
    background-color: #f9fbe7;
    box-sizing: border-box;
}

.modal-content p {
    padding: 20px 10px;
}

.modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #388e3c;
    padding: 4px 6px;
    height: 75px;
    width: 100%;
    text-align: center;
}

.modal .modal-footer .btn-large {
    margin-right: 10px;
}

hr.delete-recipe {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double red;
    color: red;
    text-align: center;
}
hr.delete-recipe:after {
    content: "Danger Zone";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #f9fbe7;
}

/* Register page */

.click-to-login {
    font-weight: 700;
    margin: 0px;
}

/* Media Queries */

@media (max-width: 978px) {
    .container  {
        padding: 0px;
        overflow: hidden;
    }

    .hr {
        width: 100%;
    }
}

@media (max-width: 320px) {
    nav .brand-logo.web-logo {
        font-size: 1.8rem;
    }
}

@media (max-width: 280px) {
    nav .brand-logo.web-logo {
        font-size: 1.6rem;
    }
}