{% extends "base.html" %}
{% set active_page = "cooking_tools" %}
{% block content %}
    <div class="card-border card-panel lime lighten-5">
        <!-- Page Header -->
        <div class="row">
            <div class="col s12">
                <h2 class="page-title green-text text-darken-2 center-align brand-logo">
                    Our Cooking Tools
                </h2>
            </div>
        </div>
        <!-- Partnership Description -->
        <div class="row center-align tools-info">
            <p>Perfect Palate is an online cookbook website in affiliation with <a href="https://www.greenpan.co.uk/" class="black-text greenpan">GreenPan Cookware</a>.<br><br class="show-on-small"> We provide you with recipe ideas across the globe posted by our very own users. We welcome you to join our community.</p>
            <p>Below are a list of our favourite <a href="https://www.greenpan.co.uk/" class="black-text greenpan">GreenPan Cookware</a>. <br><br class="show-on-small">They are non-stick and toxin-free which will allow you to cook and clean with ease and in a healthy fashion!</p>
            <p class="teaser">Click on the cooking tool name for further information.</p>
        </div><br><hr><br>
        <!-- Chop & Grill Knife block + Board -->
        <div class="row cooking-tools">
            <div class="col s12">
                <div class="cooking-tool-name col s12 m8">
                    <a href="https://www.greenpan.co.uk/products/promotions/chop-grill-knife-block-knives-chopping-board" target="_blank">
                        <h5>Chop & Grill Knife block + Board</h5>
                    </a>
                    <p>This set contains a wooden chopping board and knife block with a vegetable knife, multi-functional knife, meat knife, bread knife, santoku knife and chef knife. The chopping board and knife block are made of high-quality maple wood.</p>
                </div>
                <div class="cooking-tool-image col s12 m4">
                    <img src="https://www.greenpan.co.uk/sites/www.greenpan.co.uk/files/styles/w640/public/chop-grill-messenblok-messen-snijplank-product.png?itok=jGeu2SL3&timestamp=1605731394" width="200" alt="Preview Image for the Chop & Grill Knife block + Board" class="responsive-img materialboxed" data-caption="Chop & Grill Knife block + Board">
                </div>
            </div>
        </div><br><hr><br>
        <!-- Torino Ceramic Non-Stick Wok -->
        <div class="row cooking-tools">
            <div class="col s12">
                <div class="cooking-tool-name col s12 push-m4 m8">
                    <a href="https://www.greenpan.co.uk/products/woks/torino-ceramic-non-stick-wok" target="_blank">
                        <h5>Torino Ceramic Non-Stick Wok</h5>
                    </a>
                    <p>
                        Suitable for all hob types. Dishwasher and oven safe (up to 180ºC). Ergonomic stay-cool Bakelite handle that always stays cool for extra comfort. For an even heat distribution, so that all the ingredients are cooked at the same speed. The inside of the pan is completely seamless, so that no food residues are left behind. Top-quality Thermolon ceramic non-stick coating, free from harmful substances (PFAS-free).
                    </p>
                </div>
                <div class="cooking-tool-image col s12 pull-m8 m4">
                    <img src="https://www.greenpan.co.uk/sites/www.greenpan.co.uk/files/styles/w640/public/ceramic-wok-torino-detail.jpg?itok=Wm2SIdWt&timestamp=1564490399" width="200" alt="Preview Image for the Torino Ceramic Non-Stick Wok" class="materialboxed" data-caption="Torino Ceramic Non-Stick Wok">
                </div>
            </div>
        </div><br><hr><br>
        <!-- Chop & Grill 3-piece tea towel set + 3 serving bowls -->
        <div class="row cooking-tools">
            <div class="col s12">
                <div class="cooking-tool-name col s12 m8">
                    <a href="https://www.greenpan.co.uk/products/promotions/chop-grill-3-piece-tea-towel-set-3-serving-bowls" target="_blank">
                        <h5>Chop & Grill 3-piece tea towel set + 3 serving bowls</h5>
                    </a>
                    <p>This set contains a 3-piece tea towel set, 1 large serving bowl and 2 small serving bowls. The tea towel set is made of 100% Egyptian cotton. The serving bowls are microwave and dishwasher safe</p>
                </div>
                <div class="cooking-tool-image col s12 m4">
                    <img src="https://www.greenpan.co.uk/sites/www.greenpan.co.uk/files/styles/w640/public/chop-grill-serveerkommen-handdoeken-product.png?itok=wQlJi99G&timestamp=1605731394" width="200" alt="Preview Image for the Chop & Grill 3-piece tea towel set + 3 serving bowls" class="responsive-img materialboxed" data-caption="Chop & Grill 3-piece tea towel set + 3 serving bowls">
                </div>
            </div>
        </div><br><hr><br>
        <!-- Universal Glass Lid -->
        <div class="row cooking-tools">
            <div class="col s12">
                <div class="cooking-tool-name col s12 push-m4 m8">
                    <a href="https://www.greenpan.co.uk/products/accessories/universal-glass-lid-0" target="_blank">
                        <h5>Universal Glass Lid</h5>
                    </a>
                    <p>Glass Lid for easy food monitoring. Durable riveted stainless steel handle. Oven Safe up to 220°C. Dishwasher Safe. Universal fit: fits on all similar sized cookware!</p>
                </div>
                <div class="cooking-tool-image col s12 pull-m8 m4">
                    <img src="https://www.greenpan.co.uk/sites/www.greenpan.co.uk/files/styles/w640/public/Universal-glass-lid.jpg?itok=Z5X50lVY&timestamp=1539861417" width="200" alt="Preview Image for the Universal Glass Lid" class="materialboxed" data-caption="Universal Glass Lid">
                </div>
            </div>
        </div>
    </div>
{% endblock %}