{% extends "base.html" %}
{% block content %}


    <div class="card-border card-panel lime lighten-5">
        <!-- Page Header -->
        <div class="row">
            <h3 class="page-title green-text text-darken-2 center-align brand-logo">
                Recommended Cooking Tools
            </h3>
        </div>
        <div class="row center-align tools-info">
            <p>Below are a list of our favourite cookware. <br>They are non-stick and toxin-free which will allow you to cook and clean with ease and in a healthy fashion!</p>
            <p class="teaser">Click on the cooking tool name for further information.</p>
        </div>
        <div class="row cooking-tools">
            <div class="col s12">
                <div class="cooking-tool-name col s12 m9">
                    <a href="https://www.amazon.co.uk/Initiatives-Nonstick-PTFE-PFOA-Cadmium-Dishwasher-Cookware/dp/B00WM3ID70" target="_blank">
                        <h5>Tefal Initiatives Ceramic Nonstick Set</h5>
                    </a>
                    Dishwasher Safe Toxic Free, 14-Piece Cookware Set, Gold, Available on Amazon.
                </div>
                <div class="col s12 m3">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71rTm30fCaL._AC_SL1500_.jpg" width="200" alt="Preview Image for the Tefal Initiatives Ceramic Nonstick Set" class="materialboxed" data-caption="Tefal Initiatives Ceramic Nonstick Set">
                </div>
            </div>
        </div>
        <div class="row cooking-tools">
            <div class="col s12">
                <div class="cooking-tool-name col s12 push-m3 m9">
                    <a href="https://www.amazon.co.uk/GreenPan-Anodized-Non-Stick-Ceramic-Cookware/dp/B00AIKX626" target="_blank">
                        <h5>GreenPan</h5>
                    </a>
                    This set is the pioneer of healthy ceramic non-stick: it does not contain any toxic chemicals or persistent pollutants and hence making it safe to use. Available on Amazon.
                </div>
                <div class="col s12 pull-m9 m3">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71lg8E9BpeL._AC_SL1500_.jpg" width="200" alt="Preview Image for GreenPan" class="materialboxed" data-caption="GreenPan">
                </div>
            </div>
        </div>
    </div>

{% endblock %}