{% extends "base.html" %}
{% block content %}

    <h2 class="center-align">{{ info.recipe_name }}
    </h2>

    <div class="row full-recipe-header">
        <div class="col s12 m6 food-image">
            <img src="{{ info.image }}" alt="Profile image for {{ info.recipe_name }}">
        </div>
        <div class="col s12 m6">
            <h6>
                <strong>Cuisine: {{ info.cuisine_type }}</strong>
                {% if info.is_vegetarian == "Yes" %}
                    <i class="fas fa-seedling green-text text-lighten-2 tooltipped" data-position="right"
                        data-tooltip="Suitable for Vegetarians"></i>
                {% endif %}
            </h6>
            <p>Servings: {{ info.servings }}</p>
            <p>Prep: {{ info.prep_time }} minutes</p>
            <p>Cook: {{ info.cooking_time }} minutes</p>
            <p>
                Allergens:
                {% for allergen in info.allergens %}
                    {% if allergen == info.allergens[-1] %}
                        {{ allergen }}
                    {% else %}
                        {{ allergen }},
                    {% endif %}
                {% endfor %}
            </p>
            <a role="button" class="btn" href="{{ info.video }}" target="_blank">
                Video Tutorial
            </a>
        </div>
        <div class="col s12">
            <h4>Ingredients:</h4>
            {% for ingredient, amount in info.ingredients.items() %}
                {{ ingredient }}: {{ amount }}<br>
            {% endfor %}
        </div>
        <div class="col s12">
            <h4>Method:</h4>
            {% for step, method in info.method.items() %}
                {{ step }}. {{ method }}<br><br>
            {% endfor %}
        </div>
    </div>
    <div class="row">
    </div>

{% endblock %}