{% extends "base.html" %}
{% block content %}

    <h3 class="green-text text-darken-2 center-align">Add a New Recipe</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="fas fa-utensils green-text text-darken-2 prefix"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" 
                        type="text" class="validate" required>
                    <label for="recipe_name">Name of Food</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="fas fa-globe-africa green-text text-darken-2 prefix"></i>
                    <input id="cuisine_type" name="cuisine_type" minlength="5" maxlength="50" 
                        type="text" class="validate" required>
                    <label for="cuisine_type">Type of Cuisine</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt green-text text-darken-2 prefix"></i>
                    <textarea id="description" name="description" class="materialize-textarea" 
                        data-length="300" required></textarea>
                    <label for="description">Briefly describe this food to fellow epicures</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="fas fa-image green-text text-darken-2 prefix"></i>
                    <input id="image" name="image" type="text" class="validate" required>
                    <label for="image">Paste link to Image</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="fas fa-video green-text text-darken-2 prefix"></i>
                    <input id="video" name="video" type="text" class="validate">
                    <label for="video">Paste link to Video</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m3 offset-m1">
                    <i class="fas fa-clock green-text text-darken-2 prefix"></i>
                    <input id="servings" name="servings" type="number" min="1" max="5" 
                        class="validate" required>
                    <label for="servings">Servings</label>
                </div>
                <div class="input-field col s6 m3 offset-m4">
                    <p>
                        <label for="is_vegetarian">
                            <input type="checkbox" id="is_vegetarian" name="is_vegetarian" 
                                class="filled-in" checked="checked" required />
                            <span>Suitable for Vegetarians?</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m3 offset-m1">
                    <i class="fas fa-clock green-text text-darken-2 prefix"></i>
                    <input id="prep_time" type="number" class="validate" required>
                    <label for="prep_time">Preparation Time</label>
                </div>
                <div class="input-field col s6 m3 offset-m4">
                    <i class="fas fa-bacon green-text text-darken-2 prefix"></i>
                    <input id="cooking_time" type="number" class="validate" required>
                    <label for="cooking_time">Cooking Time</label>
                </div>
            </div>

            <h3 class="green-text text-darken-2 center-align">Ingredients</h3>
            <br><br>
            <h3 class="green-text text-darken-2 center-align">Method</h3>

        </form>
    </div>

{% endblock %}