{% extends "base.html" %}
{% set active_page = "profile" %}
{% block content %}
    <div class="card-border card-panel lime lighten-5">
        <!-- Session User's Profile Header -->
        <div class="row">
            <h2 class="page-title green-text text-darken-2 center-align brand-logo">
                {{ username }}'s Profile
            </h2>
        </div>
        <!-- My Recipes Header -->
        <div class="row profile-header">
            <h4 class="page-title green-text text-darken-2 center-align brand-logo">
                My Recipes 
            </h4>
            <h5 class="page-title green-text text-darken-2 center-align brand-logo">
                (Total: {{ recipes|length }})
            </h5>
        </div>
        <!-- List of My Recipe Cards -->
        {% if recipes|length > 0 %}
            <div class="row recipe-list">
                <div class="col s12 center-align profile-button">
                    <a href="/new_recipe" class="btn-flat grey white-text"><h6>Add New Recipe</h6></a>
                </div>
                {% for recipe in recipes %}
                    <div class="col s12 m6 l4">
                        <!-- Individual Recipe Card -->
                        <div class="card hoverable">
                            <!-- Card Image -->
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ recipe.image }}" 
                                    alt="Profile image for {{ recipe.recipe_name }}">
                            </div>
                            <!-- Card Title -->
                            <div class="card-content">
                                <div class="center activator grey-text text-darken-4">
                                    <div class="left-align card-content-text">
                                        <h6>
                                            <span class="activator grey-text text-darken-4">{{ recipe.recipe_name }}
                                            {% if recipe.is_vegetarian == "Yes" %}
                                                <i class="fas fa-seedling green-text text-lighten-2 tooltipped" data-position="right"
                                                    data-tooltip="Suitable for Vegetarians"></i>
                                            {% endif %}
                                            </span>
                                            <i class="fas fa-ellipsis-v right"></i>
                                        </h6>
                                    </div>
                                    <!-- Edit and/or View Recipe Buttons -->
                                    <div class="card-buttons">
                                        <!-- Edit Button -->
                                        {% if session.user|lower == recipe.recipe_by|lower %}
                                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small blue-grey darken-1">Edit</a>
                                        {% endif %}
                                        <!-- View Recipe Button -->
                                        <a href="/recipes/{{ recipe._id }}" class="waves-effect waves-light btn-small purple lighten-2">View</a>
                                    </div>
                                    <!-- Type of Meal Icons -->
                                    <div class="meal-icons center">
                                        {% for meal in recipe.meal_time %}
                                            {% if meal == "Breakfast" %}
                                                <i class="fas fa-circle tooltipped breakfast-icon" data-position="bottom"
                                                    data-tooltip="Breakfast"></i>
                                            {% elif meal == "Lunch" %}
                                                <i class="fas fa-circle tooltipped lunch-icon" data-position="bottom"
                                                    data-tooltip="Lunch"></i>
                                            {% elif meal == "Dinner" %}
                                                <i class="fas fa-circle tooltipped dinner-icon" data-position="bottom"
                                                    data-tooltip="Dinner"></i>
                                            {% elif meal == "Dessert" %}
                                                <i class="fas fa-circle tooltipped dessert-icon" data-position="bottom"
                                                    data-tooltip="Dessert"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- Card Reveal Information -->
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">
                                    <i class="fas fa-times right"></i></span>
                                    <h6>
                                        {% if recipe.is_vegetarian == "Yes" %}
                                            <i class="fas fa-seedling green-text text-lighten-2 tooltipped" data-position="left"
                                                data-tooltip="Suitable for Vegetarians"></i>
                                        {% endif %}
                                        {{ recipe.recipe_name }}
                                    </h6>
                                <p><strong>Cuisine: {{ recipe.cuisine_type }}</strong></p>
                                <p><i class="fas fa-clock"></i> {{ recipe.cooking_time }} mins (Prep: {{ recipe.prep_time }} mins)</p>
                                <p>{{ recipe.description }}</p>
                                <p><em>Recipe by: {{ recipe.recipe_by }}</em></p>
                                <p><a href="/recipes/{{ recipe._id }}">View Full Recipe</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="col s12 center-align profile-button">
                <a href="/new_recipe" class="btn-flat grey white-text"><h6>Add My First Recipe</h6></a>
            </div>
        {% endif %}
        <div class="row">
            <div class="col s12 section-title">
                <hr class="style-eight">
            </div>
            <!-- My Recipes Card Panel -->
            <div class="row recipe-list">
                <h4 class="page-title green-text text-darken-2 center-align brand-logo">
                    Liked Recipes 
                </h4>
                <h5 class="page-title green-text text-darken-2 center-align brand-logo">
                    (Total: {{ liked_recipes|length }})
                </h5>
                <div class="col s12 center-align profile-button">
                    <a href="/recipes" class="btn-flat grey white-text"><h6>View All Recipes</h6></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}