{% extends "base.html" %}
{% block content %}

    <!-- Page Title -->
    <h3 class="green-text text-darken-2 center-align">Recipes</h3>

    <!-- List of Recipe Cards -->
    <div class="row recipe-list">
        {% for recipe in recipes %}
            <div class="col s12 m6 l4">
                <!-- Individual Recipe Card -->
                <div class="card">
                    <!-- Card Image -->
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ recipe.image }}" alt="Profile image for {{ recipe.recipe_name }}">
                    </div>
                    <!-- Card Title -->
                    <div class="card-content">
                        <div class="center activator grey-text text-darken-4">
                            <div class="card-content-text">
                            <h6>
                                {% if recipe.is_vegetarian == "Yes" %}
                                    <i class="fas fa-seedling green-text text-lighten-2 tooltipped" data-position="right"
                                        data-tooltip="Suitable for Vegetarians"></i>
                                {% endif %}
                                <strong>{{ recipe.recipe_name }}</strong>
                            </h6></div>
                            <div class="card-buttons">
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small cyan">Edit</a>
                            <a href="/recipes/{{ recipe.recipe_name }}" class="waves-effect waves-light btn-small light-green">Full Recipe</a></div>
                        </div>
                    </div>
                    <!-- Card Reveal Information -->
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            <i class="fas fa-times right"></i></span>
                            <h6>
                                {% if recipe.is_vegetarian == "Yes" %}
                                    <i class="fas fa-seedling green-text text-lighten-2 tooltipped" data-position="right"
                                        data-tooltip="Suitable for Vegetarians"></i>
                                {% endif %}
                                <strong>{{ recipe.recipe_name }}</strong>
                            </h6>
                        <p><strong>Cuisine: {{ recipe.cuisine_type }}</strong></p>
                        <p>{{ recipe.description }}</p>
                        <p><i class="fas fa-clock"></i> {{ recipe.prep_time + recipe.cooking_time }} minutes</p>
                        <p><em>Recipe by: {{ recipe.recipe_by }}</em></p>
                        <p><a href="/recipes/{{ recipe.recipe_name }}">Full Recipe</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}   
    </div>

{% endblock %}