{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.cuisine_type }}<br>
        {{ recipe.description }}<br>
        {{ recipe.image }}<br>
        {{ recipe.servings }}<br>
        {{ recipe.is_vegetarian }}<br>
        Total Time: {{ recipe.prep_time + recipe.cooking_time }} minutes<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header white-text green darken-3 text-shadow"><i class="fas fa-caret-down"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text green darken-3 text-shadow"><i class="fas fa-caret-down"></i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text green darken-3 text-shadow"><i class="fas fa-caret-down"></i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

{% endblock %}